html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    text-align: center;
}

footer{
    text-align: right;
}

.video h1{
    color: white;
    font-weight: normal;
    font-size: 50px;
    display: block;
    margin: 0 auto;
}

.description h1{
    color: white;
    font-weight: 300;
    font-size: 42px;
}

h2{
    color: gray;
    font-size: 21px;
    font-weight: 300;
}

a{
    color: aquamarine;
    font-size: 16px;
}